* {

}

body {
  font-family: 'Open Sans', sans-serif;

}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;

}

.list-group{
  float:right;
  margin-right: 50px;
  list-style: none;
}

#up, #down, #flag {
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.reactions {
  position: sticky;
  font-size: 50px;
  margin-left: 100px;
  float: right;

}
.menu1, h1 {
    color: #52A98E;

}



/* Posts  */
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
